body {
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 20px;
	color: inherit;
	text-rendering: optimizelegibility;
}

.header {
	height: 50px;
	border-bottom: solid 5px black;
	margin-bottom: 20px;
	background: url(../images/header.png) no-repeat;
}

.album {
	min-height: 200px;
	width: 400px;
	background: url(../images/album.png) no-repeat 10px 20px;
	padding: 10px 10px  10px 150px;
	margin-bottom: 50px;
	margin-left: 50px;
}

.album:nth-child(odd)
{
	background: url(../images/album.png) #c0c0c0 no-repeat 10px 20px;
}